@{
    ViewData["Title"] = "Nosotros";
}

<link rel="stylesheet" href="~/css/nosotros.css" asp-append-version="true" />

<div>
    <section class="banner-area">
        <div class="banner-img"></div>
        <h1>Sobre <span>Nosotros</span></h1>
    </section>
</div>

<div class="pt-5">
    <section class="about-area" id="about">
        <ul class="about-content">
            <li class="about-left"></li>
            <li class="about-right">
                <h2>¿Qué es HealthyCannab?</h2>
                <p>Somos una empresa líder en la industria del cannabis medicinal, comprometida con proporcionar productos de alta calidad que mejoren la calidad de vida de nuestros clientes. Entendemos el potencial terapéutico del cannabis y ofrecemos una amplia gama de soluciones medicinales cuidadosamente elaboradas, respaldadas por investigación científica y cultivadas bajo estrictos estándares de seguridad y sostenibilidad. Nuestro enfoque está en promover el bienestar y apoyar a pacientes con una variedad de condiciones de salud, desde el alivio del dolor crónico hasta la gestión de trastornos neurológicos. Trabajamos de la mano con profesionales médicos y especialistas para asegurar que cada cliente reciba el tratamiento adecuado, ajustado a sus necesidades individuales.</p>
            </li>
        </ul>
    </section>
</div>

<div>
    <section class="msg-area">
        <div class="msg-content">
            <h1>Nuestra Misión</h1>
        </div>
    </section>
</div>

<div>
    <div class="wrapper">
        <div class="services">
            <a href="#">
                <span class="single-img img-one">
                    <span class="img-text">
                        <h4></h4>
                        <p class="tipo">Mejorar la calidad de vida: Ofrecer productos de cannabis medicinal seguros y efectivos para aliviar condiciones de salud crónicas.</p>
                        </span>
                </span>
            </a>
            <a href="#">
                <span class="single-img img-two"> 
                    <span class="img-text">
                        <h4></h4>
                        <p class="tipo">Fomentar la educación: Brindar información confiable sobre los beneficios terapéuticos del cannabis para que los pacientes tomen decisiones informadas.</p>
                        </span>
                </span>
            </a>
            <a href="#">
                <span class="single-img img-three">
                    <span class="img-text">
                        <h4></h4>
                        <p class="tipo">Sostenibilidad y ética: Promover prácticas responsables y sostenibles en toda nuestra cadena de producción, con un impacto positivo en la sociedad y el medio ambiente.</p>
                    </span>
                </span>
            </a>
        </div>
    </div>
</div>